@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

:root {
	--accent: #00acd7;
	--accent-darker: #0089ac;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	color: #333;
	font: 16px / 1.6 'Roboto', "Segoe UI", Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: var(--accent);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.mid {
	width: 1200px;
	margin: 0 auto;
}

img {
	max-width: 100%;
}

.window {
	background: #f4f4f4;
	border-radius: 6px;
	box-shadow: 0 6px 20px rgba(0,0,0,0.3);
}

.window.dark {
	background: #111;
}

.titlebar {
	height: 40px;
	box-sizing: border-box;
	line-height: 0;
	text-align: center;
	position: relative;
}

.titlebar-buttons {
	padding: 12px;
	position: absolute;
	top: 0;
	left: 0;
}

.titlebar-button {
	display: inline-block;
	width: 16px;
	height: 16px;
	border-radius: 100%;
	margin-right: 3px;
}

.titlebar-button.close {
	background: #fe5f56;
}

.titlebar-button.maximize {
	background: #febd2e;
}

.titlebar-button.minimize {
	background: #27c93f;
}

.window-content {
	padding: 6px;
	padding-top: 0;
}

.emphasized-button {
	background: #F5F7F9;
	padding: 3em 0;
	text-align: center;
}

.emphasized-button a {
	display: inline-block;
	background: var(--accent);
	color: #fff;
	padding: 1em 4em;
	border-radius: 4px;
	transition: background .15s linear;
}

.emphasized-button a:hover {
	text-decoration: none;
	background: var(--accent-darker);
}

.emphasized-button a span,
.emphasized-button a svg {
	vertical-align: middle;
}

.emphasized-button a svg {
	margin-left: .5em;
}

.generic-block {
  padding: 3em 1em;
}

.generic-block.faint {
	background: #f4f4f4;
}

.generic-block.blue {
	color: #fff;
  background: var(--accent);
}

.generic-block .mid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.generic-block .mid .left, .generic-block .mid .right {
  width: 45%;
}

.generic-block.reverse .mid {
	flex-direction: row-reverse;
}

.generic-block h3 {
  margin: 0;
  padding: 0;
  font-size: 2.4em;
}

@media only screen and ( max-width: 1250px ) {
	.mid {
		width: 870px;
	}
}

@media only screen and ( max-width: 920px ) {
	.mid {
		width: auto;
		padding: 1em;
	}

	.generic-block .mid {
		display: block;
	}

	.generic-block .mid .left,
	.generic-block .mid .right {
		width: auto;
	}

	.generic-block .mid .code-block {
		margin-top: 2em;
	}

	.generic-block h3 {
		font-size: 1.8em;
	}
}
