@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:500');

@import './colors';
@import './variables';
@import './mixins';
@import './hljs';

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  color: $body-color;
  font: 16px / 1.6 'Roboto', "Segoe UI", Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
  color: $accent;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.mid {
  width: 1200px;
  margin: 0 auto;

  @include mid-break {
    width: $mobile-break;
  }

  @include mobile-break {
    width: auto;
    padding: 1em;
  }
}

img {
  max-width: 100%;
}

svg.svg-inline--fa {
  width: 1em;
  height: 1em;
}

.window {
  background: #f4f4f4;
  border-radius: 3px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.3);

  &.dark {
    background: $accent;
  }

  .titlebar {
    height: 40px;
    box-sizing: border-box;
    line-height: 0;
    text-align: center;
    position: relative;

    .titlebar-buttons {
      padding: 12px;
      position: absolute;
      top: 0;
      left: 0;

      .titlebar-button {
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 100%;
        margin-right: 8px;

        &.close {
          background: #fe5f56;
        }

        &.maximize {
          background: #febd2e;
        }

        &.minimize {
          background: #27c93f;
        }
      }
    }
  }

  .window-content {
    padding: 6px;
    padding-top: 0;
  }
}

.emphasized-button {
  background: #F5F7F9;
  border-top: 1px solid #E6ECF1;
  border-bottom: 1px solid #E6ECF1;
  padding: 3em 0;
  text-align: center;

  a {
    display: inline-block;
    background: $accent;
    color: #fff;
    padding: 1em 4em;
    border-radius: 4px;
    transition: background .15s linear;

    &:hover {
      text-decoration: none;
      background: $accent-darker;
    }

    span, svg {
      vertical-align: middle;
    }

    svg {
      margin-left: 0.5em;
    }
  }
}

.generic-block {
  padding: 3em 1em;

  &.faint {
    background: #F5F7F9;
    border-top: 1px solid #E6ECF1;
    border-bottom: 1px solid #E6ECF1;
  }

  &.blue {
    color: #fff;
    background: $accent;
  }

  .mid {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left, .right {
      width: 45%;
    }
  }

  &.reverse {
    .mid {
      flex-direction: row-reverse;
    }
  }

  h3 {
    padding: 0;
    margin: 0;
    font-size: 2.4em;
  }

  @include mobile-break {
    .mid {
      display: block;

      .left, .right {
        width: auto;
      }

      .code-block {
        margin-top: 2em;
      }
    }

    h3 {
      font-size: 1.8em;
    }
  }
}
