.lastBlock {
  .mid {
    display: block;
  }
}

.exploreButton {
  padding: 1.2em 0;

  a {
    display: inline-block;
    padding: 0.7em 2em;
    font-size: 1.2em;
    border: 2px solid #fff;
    border-radius: 4px;
    color: #fff;
    transition: background .15s linear
                color .15s linear;

    &:hover {
      text-decoration: none;
      background: #fff;
      color: #222;
    }

    span, svg {
      vertical-align: middle;
    }

    span {
      margin-right: 5px;
    }
  }
}
