@import '../../styles/mixins';

.mediaBlock {
  border-top: 3px solid #E6ECF1;

  .mid {
    display: block;
  }

  h3 {
    text-align: center;
    margin-bottom: 1.2em;
  }
}

.mediaLinks {
  width: 75%;
  margin: 0 auto;

  @include mobile-break {
    width: auto;
  }
}
